.content
   padding: 60px 0 0
   &__container
      padding: 0 24px 0 52px
   &__title
      margin-bottom: 44px
   
   &__inner
      display: flex
      margin: 0 -11px
   
   &__col
      padding: 0 11px
      flex-grow: 0
      
      &_categories
         width: percentage(906 / 1364)
      &_side
         width: percentage(479 / 1364)
      
   &__block
      border: 1px solid
      border-radius: 22px
      box-shadow: 13px 7px 30px rgba($black, .21)
      &:not(:last-child)
         margin-bottom: 30px

.expand-block
   $parent: &
   display: flex
   align-items: center
   width: 100%
   padding: 22px 30px 27px 40px
   background: 0
   &__icon
      margin-top: 4px
      margin-right: 24px
      +fs(26)
      fill: none
      stroke: currentColor
      transition: .35s ease-in-out
      #{$parent}.is-open &
         transform: rotate(90deg)
      
   &__content
      overflow: hidden
      transition: .35s ease-in-out
