//begin header
+b.HEADER.header
	+e.container.container
		+e.A.bar-logo(href='#!') VIRTUAL SALAD BAR
		+e.A.main-logo(href='#!')
			.icon-main-logo
			h1 Harris Teeter
		+e.A.link(href='https://www.harristeeter.com' target='_blank') harristeeter.com
			+e.link-icon.icon-follow
//end header
