.summary
   color: rgba(#373737, .7)
   border-color: $light-green-2
   &__head
      &-arrow
         stroke: $light-green
      
      &-title
         text-align: left
   &__content
      &-inner
         padding: 0 22px 25px
   &__stat
      padding: 20px 15px
      margin-bottom: 20px
      border-radius: 22px
      background-color: rgba(#C9E2D4, .45)
      &-row
         display: flex
         justify-content: space-between
         padding: 0 10px
         +f('hel700', 20)
         line-height: 1
         
         &:nth-child(1)
            color: #4A4A4A
         &:nth-child(2)
            color: $light-green
         
         &:not(:first-child)
            margin-top: 30px
      
      &-term
         padding-right: 15px
      
      &-def
         flex: 0 0 100px
         text-align: center
   
   &__table
      margin-bottom: 22px
      +f('hel700', 18)
      &-wrap
         padding: 0 12px
      &-row:first-child &-data:nth-child(2),
      &-row:first-child &-data:nth-child(3)
         width: 85px
         text-align: center
         
      &-row:first-child ~ &-row
         color: rgba(#373737, .44)
         text-align: center
   
      &-row:first-child ~ &-row &-data:first-child
         padding: 2px 5px 2px 62px
         text-align: left
         +f('hel400')
         
      &-row:first-child ~ &-row:last-child &-data
         padding: 2px 5px 14px 62px
   
      &-row:first-child ~ &-row:last-child &-data:nth-child(2),
      &-row:first-child ~ &-row:last-child &-data:nth-child(3)
         padding: 2px 10px
         
      &-row:first-child ~ &-row &-data
         padding: 2px 5px
         
      &-body
         &:not(:first-child)
            border-top: 1px solid #979797
      
      &-row
   
      &-data
         padding: 10px 5px
   
         &-symbol
            text-align: center
            +fs(12)
            color: $orange

   &__info
      margin-bottom: 22px
      padding: 24px 0
      font-size: 0
      border: 1px solid $light-green-2
      border-radius: 22px
      
      &-item
         display: inline-flex
         width: 50%
         padding: 0 18px
         +f('hel700', 18)
         &:nth-child(2) ~ &
            margin-top: 15px
         
      &-term
         width: 100%
         padding-right: 15px
      &-def
         width: 50px

   &__hint
      margin-bottom: 30px
      padding-left: 10px
      &-text
         +fs(14)
         font-style: italic
         &:not(:last-child)
            margin-bottom: 15px
         > span
            display: inline-block
            padding-left: 38px

   &__warn
      margin-bottom: 60px
      padding: 42px 20px
      background-color: #FDD3D3
      border-radius: 22px
      &-head
         display: flex
         align-items: center
         margin-bottom: 26px
      &-icon
         margin-right: 12px
      &-title
         color: $red
         +fs(20)
         
      &-list
         column-count: 2
         column-gap: 0
         +f('hel700', 18)
         color: rgba(#373737, .7)
         li
            padding-left: 32px
            margin-bottom: 20px

   &__bottom
      text-align: center
      &-link
   
